__pycache__/colours.cpython-312.pyc
__pycache__/widgets.cpython-312.pyc
build/Swatch/Analysis-00.toc
build/Swatch/base_library.zip
build/Swatch/EXE-00.toc
build/Swatch/PKG-00.toc
build/Swatch/PYZ-00.pyz
build/Swatch/PYZ-00.toc
build/Swatch/Swatch.pkg
build/Swatch/warn-Swatch.txt
build/Swatch/xref-Swatch.html
build/Swatch/localpycs/pyimod01_archive.pyc
build/Swatch/localpycs/pyimod02_importers.pyc
build/Swatch/localpycs/pyimod03_ctypes.pyc
build/Swatch/localpycs/pyimod04_pywin32.pyc
build/Swatch/localpycs/struct.pyc
